@keyframes surgir {
    0% {
      opacity: 0;
      transform: scale(0.1);
    }
    60% {
      transform: scale(0.6);
      opacity: 0.5;
    }
  
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

.colored-charges-upper-card {
    animation: surgir 300ms;

    height: 11.1rem;
    /* width: 360px; */
    margin-bottom: 2.4rem;

    border-radius: 3rem;

    font-family: 'Montserrat', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.6rem;
}

@keyframes destacar {  
    0% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.2);
    }
  }

.colored-charges-upper-card:hover {
    animation: destacar 100ms;
    transform: scale(1.2);
}

.upper-card-texts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;

    color: black;
}

.upper-card-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    
}

.upper-card-value {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
}

.charges-card {
    animation: surgir 300ms;

    height: 39.7rem;
    width: 36rem;

    background-color: white;
    border-radius: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px 4px 4px 0px #ACD9C540;
}

.charges-card-header {
    height: 58px;
    width: 100%;
    padding: 16px 20px;

    border-bottom: 2px solid #EFF0F6;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat', 'sans-serif';
}

.charges-card-header-text {
    font-size: 22px;
    font-weight: 600;
    line-height: 23px;
    color: #3F3F55;

    margin-left: 20px;
}

.charges-card-small-colored-value-card {
    height: 21px;
    width: 52px;
    margin-left: 40px;

    border-radius: 0.8rem;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;

    text-align: center;
}

.charges-card-table-head {
    width: 100%;
    height: 66px;
    padding-left: 25px;

    font-family: 'Nunito', 'sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.005rem;
    text-align: start;
    color: #3F3F55;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 2px solid #EFF0F6;
}

.first-text {
    width: 33%;
}

.second-text {
    width: 33%;
}

.third-text {
    width: 33%;
    text-align: start;
    padding-left: 20px;
}

.charges-card-table-body {
    height: 291px;
    width: 100%;

    border-radius: 0px;
    
    font-family: 'Nunito', 'sans-serif';


    overflow: hidden;
}

.charges-card-table-line {
    width: 100%;
    height: 56px;
    padding-left: 25px;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.005em;
    text-align: left;
    
    text-align: start;
    color: #6E6E85;

    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 2px solid #EFF0F6;
}

.charges-card-table-line:hover {
    background-color: #EFF0F6;
}

.charges-card-table-bottom {
    height: 48px;
    width: 100%;
    padding: 12px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-charges-card-link {
    all: unset;

    cursor: pointer;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;  
    color: #DA0175;

    text-decoration: underline;
}

.bottom-charges-card-link:hover {
    color: #d35e9c;
}

.empty-charges-list-info-phrase {
    margin-left: 30px;

    position: relative;
    bottom: 50px;
    top: 50px;

    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    color: #3F3F55;   
}

.loading-backdrop { 
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

.loading-home {
    width: 100px;
    height: 100px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    transform: scale(2);
  }
  
  @keyframes rotation {
    to {
      transform: rotate(1turn);
    }
  }
  
  .loader-home {
    width: 20px;
    height: 20px;
  
    border: 3px solid #DEDEE9;
    border-top: 3px solid #0E8750;
    border-radius: 50%;
  
    animation: rotation 1s infinite;
  }