@keyframes destacar-seta-verde {  
    0% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.4);
    }
  }

.header-container {
    display: flex;
    justify-content: space-between;

    padding: 4.4rem 8.2rem 2.4rem 6.0rem;
    width: 95%;
    margin-bottom: 19px;

    border-bottom: 0.2rem solid #ACD9C5;
}

.header-title {
    font-family: 'Montserrat';
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    color: #343447;
}

.header-customers-grey{
    color: #747488;
}

.header-customers-link{
    cursor: pointer;
    color: #0E8750;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.header-customers {
    width: 25.4rem;
    margin-top: 4rem;

    display: flex;
    justify-content: space-between;
    align-self: flex-end;

    font-size: 1.6rem;
    line-height: 2.4rem;
}

.user-name-container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 16px;

    font-family: 'Nunito';
}

.user-name-initials {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    padding: 0.9rem 1.1rem;

    background-color: #DEDEE9;
}

.initials-text {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; 
    color: #0E8750;
}

.user-name-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    color: #0E8750;
}

.user-name-and-arrow {
    position: relative;
    
    display: flex;
    gap: 1.3rem;
}

.user-container-arrow-button {
    border: none;
    background: none;
}
